.bg-yellow { background-color: #FEBF2C }

.bg-green { background-color: #00A859 }

.bg-blue, .bg-blue:active { background-color: #00B9CF; color: white !important}
.bg-blue-no-hover { background-color: #00B9CF}
.bg-blue:hover { background-color: #FEBF2C; color: black !important;}
.bg-blue-text-white { background-color: #00B9CF; color: white !important;}

.text-black { color:black !important }
.text-yellow { color:#FEBF2C }
.text-green { color:#00A859 }
.text-blue { color:#00B9CF }
