body {font-family: 'Yekan','OpenSans'}

/* general classes */
.white-shadow:hover { box-shadow: 1px 1px 5px white}
select { font-family: 'Calibri'}
button, [data-toggle], [onclick] {cursor: pointer;}
th {text-align: center;}
.direct-x{ white-space: nowrap; overflow-x: auto;}

.pointer {cursor: pointer;}
.cursor-help {cursor: help;}
.not-allowed {cursor: not-allowed;}

.half-x {font-size: 1.5em}

.none:hover {text-decoration: none;}

/* reserve */
.s-titles-container{
    white-space: nowrap;
    overflow-x: auto;
}

/* 5col */
.col5 {
    display: inline-block;
    width:19%;
}
@media only screen and (max-width: 960px) {
    .col5 {
        width:100%;
    }
}

/* card numbers*/
.card-numbers input {
    display: inline-block;
    width: 24%;
}

/* card numbers*/
.pricing-box {
    position: fixed;
    z-index: 99;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    background-color: lavender;
}

/* fieldset and legend */
fieldset.with-border {
    border: 1px solid #e6e6e6;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

fieldset.with-border legend {
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

/*Hide Arrows for input type number*/
input.no-arrow::-webkit-inner-spin-button,
input.no-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


/* snippets */

.s-title {
  background-color: #FEBF2C;
  border: none;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 1em;
  margin: 15px 5px;
  outline: none;
  padding: 12px 20px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
}

.s-title:before,
.s-title:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.s-title:before {
  border-color: #FEBF2C;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.s-title:after {
  border-bottom-width: 2px;
  border-color: #FEBF2C;
  bottom: -5px;
  right: 0px;
}

.s-title:hover,
.s-title.hover {
  background-color: #FEBF2C;
}

.s-title:hover:before,
.s-title.hover:before,
.s-title:hover:after,
.s-title.hover:after {
  height: 100%;
  width: 100%;
}

.s-title[aria-expanded=true]{
    background-color: #00B9CF;
    color: white;
}
.s-title[aria-expanded=true]:before {
  border-color: #00B9CF;
}
.s-title[aria-expanded=true]:after {
  border-color: #00B9CF;
}

.r-title {
  background-color: #ffffff;
  border: none;
  border-bottom: 6px solid #00A859;
  border-top: 6px solid #00A859;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  height: 46px;
  line-height: 34px;
  margin: 15px 40px;
  outline: none;
  padding: 0 10px;
  position: relative;
  text-transform: uppercase;
}

.r-title:before,
.r-title:after {
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ffffff;
  border-radius: 50%;
  top: -6px;
  content: "";
  height: 46px;
  position: absolute;
  width: 46px;
  border: 6px solid #ddd;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}

.r-title:before {
  right: -23px;
  border-left-color: #00A859;
  border-bottom-color: #00A859;
}

.r-title:after {
  left: -23px;
  border-right-color: #00A859;
  border-top-color: #00A859;
}

.r-title:hover,
.r-title.hover {
  background-color: #ffffff;
}

.r-title:hover:before,
.r-title.hover:before,
.r-title:hover:after,
.r-title.hover:after {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.inside-input {
        float: left;
        margin-left: 8px;
        margin-top: -27px;
        position: relative;
        z-index: 2;
        color: #00B9CF;
        cursor: pointer;
    }

.custom-control-indicator {position: absolute; right: 0;}
.custom-control-description {margin-right: 25px;}
