body {font-family: 'Yekan','OpenSans'}

/* general classes */
.white-shadow:hover { box-shadow: 1px 1px 5px white}
select { font-family: 'Calibri'}
button, [data-toggle] {cursor: pointer;}

/* reserve */
.reserve-title {
    background-color: #FEBF2C;
    display: inline-block;
    padding: 6px 20px;
    margin: 10px 0px 20px 0px;
    font-family: 'Dinar';
    font-size: 1.2em;
    color: black;
    font-weight: 400;
}

/* 5col */
.col5 {
    display: inline-block;
    width:19%;
}
@media only screen and (max-width: 960px) {
    .col5 {
        width:100%;
    }
}
