.schedule {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 5px 0px;
}

.day-heading, .period {
    display: inline-block;
    min-width: 200px;
    padding: 5px 0px;
}

.period {
    border: 2px solid #383838;
    position: relative;
}

.period > i {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 1.5em;
}

.schedule span {
    display: block;
}

.periods {
    display: inline-block;
    width: 80%;
}

.day-heading {
    background-color: #FEBF2C;
    border: 2px solid #383838;
    width: 10%;
}
